* {
    margin: 0px;
}
.parent {
    background-color: violet;
    font-size: 25px;
    padding: 10px;
    height: 800px;
}

.first-child {
    background-color: rebeccapurple;

}

.second-child {
    background-color: brown;
}

.third-child {
    background-color: royalblue;
    position: relative;
    top: 120px;
    left: 50px;
}