/* .c1>p{
    background-color: magenta;
}

.c2 p{
    background-color: red;
} */

/* span {
    font-size: 50px;

} */

/* a:active {
    color: red;
}

a:hover {
    color: rgb(0, 128, 36);
    font-size: 50px;
}

a:visited {
    color: red;
}

p::first-line {
    color: #ff00;
}

p::first-letter {
    color: green;
    font-size: 50px;
} */

body {
    background-image: url(../img/aaa.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.c1 {
    background-color:rgb(64, 77, 191)
}
.c2 {
    background-color: rgba(255, 0, 0, 1);
}